<app-nav></app-nav>
<section class="style1">
    <div class=" py-5"  appLazyLoading (nearEnd)="loadMoreProducts()">
      <!-- @for(product of products;track product;) { -->
          <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
              <mdb-carousel [controls]="true" [indicators]="true" class="carosoul">
                <mdb-carousel-item>
                  <img
                    src="assets/offer3.avif"
                    class="d-block w-100"
                    alt="..."
                  />
             
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <img
                    src="assets/offer2.avif"
                    class="d-block w-100"
                    alt="..."
                  />
                
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <img
                    src="assets/offer1.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
               
                </mdb-carousel-item>
              </mdb-carousel>
                    <div class="input-group mt-2">
                        <input type="search" class="form-control" placeholder="Search for products" 
                        [(ngModel)]="search" [ngModelOptions]="{standalone: true}" (input)="filterProducts()"/>
                        <button class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3" *ngFor="let product of filteredProducts" >
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img [src]="product.thumbnail"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" class="style"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{product.brand}}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <strong>Main Price :<span>&#8377;</span>{{calculateMainPrice(product.price,product.discountPercentage)}}</strong>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span><strong>{{"InfiniteScroller.Category"|translate }} </strong>{{product.category}}</span>
                    <span class="text-primary"> </span><br>
                    <span><strong>{{"InfiniteScroller.d%"|translate }}</strong>{{product.discountPercentage}} </span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    {{product.description}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">Discount Price:<span>&#8377;</span>{{product.price}}</h4>
                    <span class="text-danger"><s><span>&#8377;</span>{{calculateMainPrice(product.price,product.discountPercentage)}}</s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button" (click)="addTocart(product.id)">
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- } -->
    </div>
  </section>