@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
.style{
    background-color: rgba(253, 253, 253, 0.15);
}
.style1{
    background-color: #eee;
}
.carosoul {
    img{
        height: 200px;
    }
}
