<app-nav></app-nav>
<div class="container">
    <div id="1" appScrollToDirective class="paragraph-action">
        {{"scroll.box1"|translate}}
    </div>
    <div id="2" appScrollToDirective class="paragraph-action">
        {{"scroll.box2"|translate}}
    </div>
    <div id="3" appScrollToDirective class="paragraph-action">
        {{"scroll.box3"|translate}}
    </div>
    <div id="4" appScrollToDirective class="paragraph-action">
        {{"scroll.box4"|translate}}
    </div>
    <div id="5" appScrollToDirective class="paragraph-action">
        {{"scroll.box5"|translate}}
    </div>
    <div id="6" appScrollToDirective class="paragraph-action">
        {{"scroll.box6"|translate}}
    </div>
</div>